/* Lay-out */
.escola {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'LucidaGrande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: 155px 1fr;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas:
    "logo menu"
    "logo content"
    "footer footer";
    height: 100vh;
    background-color: #f5f5f5;
    color: #000;
}

aside.logo {
    grid-area: logo;

}

nav.menu {
    grid-area: menu;
}

div.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
    height: 40px;
}

aside.logo img {
    height: 60px;
    padding: 5px;
    background-color: #bdbbbb;
}

nav.menu {
    background-color: #bdbbbb;
    text-align: right;
}

nav.menu a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
}

nav.menu a:hover {
    color: #538cc6;
}

footer.footer {
    text-align: center;
    background-color: #bdbbbb;
}

h1.titulo{
    margin: 20px;
}
div.content{
    width: 80%;
    height: 80%;
    margin:auto;
}

div.corpo {
    background-color: #fff;
    box-shadow: 0px 0px 15px #0004;
    padding: 20px;
}